name: 'sfdx'

# on: [push]

on:
  workflow_dispatch:
    inputs:
      name:
        type: choice
        description: Who to greet
        options: 
        - monalisa
        - cschleiden
      message:
        required: true
      use-emoji:
        type: boolean
        description: Include  emojis
      environment:
        type: environment

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2              
      - name: Install Salesforce CLI
        run: |
          wget https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz
          mkdir sfdx-cli
          tar xJf sfdx-linux-amd64.tar.xz -C sfdx-cli --strip-components 1
          ./sfdx-cli/install
      - name: Auth with the DevHub
        run: 'sfdx force:auth:jwt:grant --username corentin.romilly@gmail.com --clientid 3MVG9HxRZv05HarSnF.b7HnARKcOWbKdl0dnDl2nLKxVO0jzIgHlykTEUqDBgwMjVymVeuwsZvsli_GO_WIi. --jwtkeyfile assets/server.key --setdefaultdevhubusername -a DevOrgPerso --json'
      - name: Create scratch org
        run: 'sfdx force:org:create -f config/project-scratch-def.json -a my-scratch'
      - name: Push source
        run: 'sfdx force:source:push -u my-scratch'
      - name: List orgs
        run: 'sfdx force:org:list'
      - name: Run tests
        run: 'sfdx force:apex:test:run -u my-scratch --resultformat human'
      - name: Delete scratch org
        run: 'sfdx force:org:delete -u my-scratch --noprompt'