name: 'sfdx'

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
        fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.
    - name: Create local changes
      run: |
        echo "{username:fake@user.com}" > config/so.json
        git add .
    - name: Commit files :)
      run: |
        git config --local user.email "corentin.romilly@gmail.com"
        git config --local user.name "illymor"
        git commit -m "Add changes" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: staging
    - name: Read so.json
      id: package
      uses: juliangruber/read-file-action@v1
      with:
        path: ./config/so.json
    - name: Echo so.json
      run: echo "${{ steps.package.outputs.content }}"
 #     - uses: actions/checkout@v2              
 #     - name: Install Salesforce CLI
 #       run: |
 #         wget https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz
 #         mkdir sfdx-cli
 #         tar xJf sfdx-linux-amd64.tar.xz -C sfdx-cli --strip-components 1
 #         ./sfdx-cli/install
 #     - name: Auth with the DevHub
 #       run: 'sfdx force:auth:jwt:grant --username corentin.romilly@gmail.com --clientid 3MVG9HxRZv05HarSnF.b7HnARKcOWbKdl0dnDl2nLKxVO0jzIgHlykTEUqDBgwMjVymVeuwsZvsli_GO_WIi. --jwtkeyfile assets/server.key --setdefaultdevhubusername -a DevOrgPerso --json'
 #     - name: Create scratch org
 #       run: 'sfdx force:org:create -f config/project-scratch-def.json -a my-scratch'
 #     - name: Push source
 #       run: 'sfdx force:source:push -u my-scratch'
 #     - name: List orgs
 #       run: 'sfdx force:org:list'
 #     - name: Run tests
 #       run: 'sfdx force:apex:test:run -u my-scratch --resultformat human'
 #     - name: Delete scratch org
 #       run: 'sfdx force:org:delete -u my-scratch --noprompt'
